@use "../base/variables" as *;
footer {
    @extend %flex-center;
  flex-wrap: wrap; 
  gap: 30px;
  padding: 15px 0;
  background-color: #111;
}

footer a {
  text-decoration: none;
  transition: transform 0.3s ease;
}

footer a:hover {
  transform: scale(1.2);
}

footer i {
  font-size: 40px;
  color: whitesmoke;
  transition: all 0.3s ease;
}

footer i:hover {
  transform: scale(1.2);
}

.bi-instagram:hover {
    color: #e1306c;
}
.bi-facebook:hover {
    color: #1877F2;
}

.bi-twitter-x:hover {
    color: #ebeced;
}

.bi-whatsapp:hover {
    color: #25D366;
}
.bi-linkedin:hover {
    color: #0077B5;
}
.bi-youtube:hover {
    color: #FF0000;
}
