@use "../base/variables" as *;
footer {
  @extend %flex-center;

  flex-wrap: wrap;
  gap: 30px;
  padding: 15px 0;
  background-color: #020617;
  border-top: 1px solid #333;

  a {
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  i {
    font-size: 40px;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

footer i:hover {
  transform: scale(1.2);
}

.bi-instagram:hover {
    color: #e1306c;
}
.bi-facebook:hover {
    color: #1877F2;
}

.bi-twitter-x:hover {
    color: #ebeced;
}

.bi-youtube:hover {
    color: #FF0000;
}
